language: ruby
before_install: gem install rjack-tarpit -v=2.0.3
bundler_args: ""
rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
  - rbx-19mode
  - jruby-18mode
  - jruby-19mode
  - jruby-head
script: "bundle exec rake test"
