language: ruby
before_install: gem install rjack-tarpit -v=2.0.2
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - rbx-19mode
  - jruby-1.6.8
  - jruby-18mode
  - jruby-19mode
script: "bundle exec rake test"
